{% extends "::base.html.twig" %}

{% block title %} Main - {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://rawgit.com/enyo/dropzone/master/dist/dropzone.css">
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
    {% for poll in polls %}
            <div class="col-md-4 col-md-offset-0 col-sm-offset-1 col-sm-10 post-block">
                <div class="panel panel-default center-block">
                    <div class="panel-heading">
                        <ul class="list-inline">
                            <li class="user-name"><a href="view/{{ poll.pollId }}">{{ poll.title }}</a></li>
                            <li class="pull-right post-time">{{ poll.createDate|time_diff|replace({'minutes': 'min', 'ago': ''}) }}</li>
                        </ul>
                    </div>
                    {#<div class="crop panel-images row">#}
                    {% for image in poll.images %}
                    {% if loop.index is not divisible by(2) or loop.first %}
                    <div class="crop panel-images row">
                    {% endif %}
                        <label for="radio-{{ image.optionId }}">
                            <div class="progress">
                              <div class="progress-bar progress-bar-voteCount" role="progressbar" style="width:100%">
                                <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                                <span>{{ image.votescount }}</span>
                              </div>
                            </div>
                            <input id="radio-{{ image.optionId }}" type="radio" name="post-{{ poll.pollid }}" value="left"/>
                            <img src="images/{{ image.content }}">
                        </label>


                    {% if loop.index is divisible by(2) or loop.last %}
                    </div>
                    {% endif %}
                    {% endfor %}
                    {#</div>#}
                    <ul class="panel-body post-tags list-inline">
                        {% for tag in poll.categories %}
                        <li><a class="pointable" href="{{ path('search') }}?tag={{ tag.title }}">#{{ tag.title }}</a></li>
                        {% endfor %}
                        <li class="addthis_inline_share_toolbox_eaw2 pull-right" data-url="{{ url('view', {'id': poll.pollid}) }}"></li>
                    </ul>
                </div>
            </div>

    {% if loop.index is divisible by(3) and not loop.last %}
        </div>
        <div class="row">
    {% endif %}
    {% else %}
        <div class="col-md-12 col-md-offset-0 col-sm-offset-1 col-sm-12 post-block">
            <div class="panel panel-default center-block">
                <div class="panel-body" style="height: 50%">
                    <h1 style="text-align: center">{{ error }} </h1>
                    <h2 style="text-align: center">Feel free to make a new one</h2>
                    <br>
                    <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#new-post-modal">Contribute!</button>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>

</div>

    {% if polls is not empty %}
    <!-- Add new post button -->
    <a href="" class="float" data-toggle="modal" data-target="#new-post-modal">
        <i class="fa fa-plus fa-2x my-float" ></i>
    </a>
    {% endif %}

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://rawgit.com/enyo/dropzone/master/dist/dropzone.js"></script>
    <script>
        Dropzone.options.myDropzone = {

            // Prevents Dropzone from uploading dropped files immediately
            autoProcessQueue: false,
            uploadMultiple: true,
            url: '{{ path('submit_process') }}',
            maxFiles: 4,
            maxFilesize: 4,
            parallelUploads:4,
            acceptedFiles: 'image/*',
            addRemoveLinks: true,

            init: function() {
                var submitButton = document.querySelector('#submit-all');
                var errorElement = $('<div>', {
                    'class': 'alert alert-danger'});
                var totalFiles = 0,
                    completeFiles = 0;
                myDropzone = this;

                submitButton.addEventListener('click', function() {
                    var titleValue = $.trim($('#title').val());
                    var tagValue = $.trim($('#category').val());

                    if (myDropzone.getQueuedFiles().length > 1 && titleValue.length > 0 && tagValue.length > 0) {
                    myDropzone.processQueue();
                    $(errorElement).remove();
                    }

                    else {
                        if ( titleValue.length == 0 ){
                            $(errorElement).html('Please enter post title.');
                            $(errorElement).insertAfter('#title');
                        } else if ( tagValue.length == 0 ){
                            $(errorElement).html('Please enter tags');
                            $(errorElement).insertAfter('#category');
                        } else if ( myDropzone.getQueuedFiles().length < 2 ){
                            $(errorElement).html('A minimum of 2 images is required');
                            $(errorElement).insertAfter('#myDropzone');
                        }

                    }

                });
                this.on('successmultiple', function(){
                    completeFiles += 1;
                    if (completeFiles === totalFiles){
                        jQuery('<div/>', {
                        'class': 'alert alert-success',
                        text: 'Success'
                    }
                    ).insertAfter('#myDropzone');

                    setTimeout(function() {
                      window.location.reload();
                    }, 1700);
                    }

                });

                this.on('addedfile', function() {
                    totalFiles += 1;
                });

                this.on('removedfile', function() {
                    totalFiles -= 1;
                });
            }
        };
    </script>
{% endblock javascripts %}