{% extends 'AvanzuAdminThemeBundle:layout:base-layout.html.twig' %}

{% block avanzu_logo %}<a href="{{ path('admin_home') }}" class="logo">Ponder</a>{% endblock %}
{% block title %}Ponder admin{% endblock %}
{% block page_title %}Index{% endblock %}
{% block avanzu_navbar %}
    {{ parent() }}
    <li class="dropdown user user-menu">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <img src="https://almsaeedstudio.com/themes/AdminLTE/dist/img/user2-160x160.jpg" class="user-image"
                 alt="User Image" title="" style="">
            <span class="hidden-xs">Admin</span>
        </a>
        <ul class="dropdown-menu">
            <!-- User image -->
            <li class="user-header">
                <img src="https://almsaeedstudio.com/themes/AdminLTE/dist/img/user2-160x160.jpg" class="img-circle"
                     alt="User Image">

                <p>Admin</p>
            </li>
            <!-- Menu Footer-->
            <li class="user-footer">
                <div class="pull-left">
                    <a href="#" class="btn btn-default btn-flat">Profile</a>
                </div>
                <div class="pull-right">
                    <a href="{{ path('avanzu_admin_logout') }}" class="btn btn-default btn-flat">Sign out</a>
                </div>
            </li>
        </ul>
    </li>
{% endblock %}

{% block avanzu_sidebar %}
    {{ parent() }}
    <ul class="sidebar-menu">
        <li class="header">Menu</li>
        <!-- Optionally, you can add icons to the links -->
        <li><a href="{{ path('admin_home') }}"><span>Dashboards</span></a></li>
        <li><a href="{{ path('admin_posts_index') }}"><span>Polls</span></a></li>
    </ul>
{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-lg-12 col-xs-12">
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>{{ pollCount }}</h3>

                    <p>Polls</p>
                </div>
                <div class="icon">
                    <i class="ion ion-chatboxes"></i>
                </div>
            </div>
        </div>
    </div>

    <!-- Timeline -->

    <ul class="timeline">
        {% for poll in polls %}

            <li class="time-label poll-{{ poll.pollId }}">
                  <span class="bg-green">
                      {{ poll.createDate|date("d F Y H:i:s") }}
                  </span>
            </li>

            <li class="poll-{{ poll.pollId }}">
                <i class="fa fa-camera bg-purple"></i>

                <div class="timeline-item">
                    <span class="time"><i class="fa fa-clock-o"></i> {{ poll.createDate|time_diff|replace({'minutes': 'min', 'ago': ''}) }}</span>

                    <h3 class="timeline-header"><a href="#">Anonymous user</a> uploaded new poll</h3>

                    <div class="timeline-body">
                        {% for image in poll.images %}
                            <img src="../images/{{ image.content }}" alt="..." class="margin" style="width: 150px; height: auto;">
                        {% endfor %}
                    </div>
                </div>
            </li>

        {% endfor %}

        <li>
            <i class="fa fa-clock-o bg-gray"></i>
        </li>
    </ul>
{% endblock %}



{% block avanzu_admin_footer %}
    <footer class="main-footer">
        <strong>2017 <a href="https://github.com/nfqakademija/imk">Komanda IMK</a>.</strong>
    </footer>
{% endblock %}

